<section class="banner">
  <div class="container">
    <div class="accueil">
      <h1>Hello you,</h1>
      <%= link_to 'Commence à chercher Michel(le) !', profil_path, class:"btn btn-primary" %>
    </div>




  </div>




</section>
