span.badge {
  margin-top: 20px;
  position: relative;
  right: 0;
  float: right;
  background-color: #f9bac5;
  color: white;
  text-align: center;
  padding: 10px 50px 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: oblique;
  font-size: 2em;
  border-radius: 0;
}
