body {
  font-family: 'Raleway';
  background-color: white;
  color: white;
}

h1 {
  font-family: 'Lobster Two';
  color: white;
  font-size: 5em;
}

.container {
  padding-top: 15vh;
}
.accueil {
  text-align: center;
  margin-top: 20vh;
}
.accueil h1 {
  font-family: 'Lobster Two';
  color: #efefef;
  font-size: 10em;
}
