body {
  font-family: 'Raleway';
  background-color: #f9bac5;
  color: white;
}

section {
  background-color: #f9bac5;
}

h1 {
  font-family: 'Lobster Two';
  color: white;
  font-size: 5em;
}
p {
  font-size: 1.3em;
  text-align: justify;
}


.contentshow {
  opacity: 0;
  animation: opacity 1s forwards .7s;
  .content-show {
    width: 80%;
    margin: auto;
  }
}

.container {
  padding-top: 15vh;
}
.accueil {
  text-align: center;
  margin-top: 20vh;
  h1 {
    font-family: 'Lobster Two';
    color: #efefef;
    font-size: 10em;
  }
}

.d-flex {
  background-color: white;
  color: #f9bac5;
  h1 {
    color: #f9bac5;
    margin-top: 15vh;
    font-size: 9em;
  }
}
.photobg {
  width: 0vw;
  animation: slide .8s forwards;
}
